* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(154, 154, 157, 1)5%, rgba(230, 236, 237, 1) 100%);
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

img {
    position: absolute;
    max-width: 20%;
    max-width: 10%;
    left: 5%;
    top: 0.5%;
}

.alluraoracle {
    position: absolute;
    margin-top: 4%;
    width: 60%;
    height: 60px;
    left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
    color: #009087;
}

.alluraoracle span {
    color: #343a40;
    text-decoration: none;
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 8%;
    top: 15%;
    border-radius: 50px;
    border: 1px solid #009087;
    box-shadow: #009087 0 0 20px;
    background: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:1.5rem;
    line-height: 150%;
    text-indent: 13%;
}

.texto::placeholder {
    color: #009087;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 77%;
}

.terminos p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 50%;
    color: #343a40;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    padding: 1% 0;
    width: 80%;
    left: 0%;
    top: 82%;
}

.btn-encriptar,
.btn-desencriptar,
.btn-copiar {
    display: inline-block;
    margin-left: 2rem;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 0.4rem 0.4rem 0.8rem #c5c5c5, -0.4rem -0.4rem 0.8rem #ffffff;
}

.btn-encriptar:active,
.btn-desencriptar:active,
.btn-copiar:active {
    color: #666;
    box-shadow: inset 0.4rem 0.4rem 0.8rem #c5c5c5, inset -0.4rem -0.4rem 0.8rem #ffffff;
}

.btn-encriptar:before,
.btn-desencriptar:before,
.btn-copiar:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-encriptar:after,
.btn-desencriptar:after,
.btn-copiar:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-copiar:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.btn-encriptar:hover:before,
.btn-desencriptar:hover:before,
.btn-copiar:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-encriptar:hover:after,
.btn-desencriptar:hover:after,
.btn-copiar:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-copiar:after {
    background-color: #c51212;
}

.btn-copiar:hover {
    border: 1px solid #c51212;
}

.btn-copiar:hover:before {
    background-color: #c51212;
}

.btn-copiar:hover:after {
    background-color: #c51212;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    box-shadow: 0px 2.4rem 3.2rem -0.8rem rgba(0, 0, 0, 0.08);
    border-radius: 3.2rem;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 1.6rem;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    text-align: center;
    color: #343a40;
}

.encriptado img {
    position: relative;
    max-width: 100%;
    width: 80%;
    height: 50%;
    top: 15%;
}